<div class="card-body">
    <div>
        <%= form_with model: @comment do |form| %>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label"></label>
                <%= form.text_area :content, class: "bg-light border-radios-lg w-70", size: "60x10", :maxlength => 15%>
            </div>
            <%form.hidden_field :post_id %>
            
            <div class="text-center">
                <%= form.submit 'Comentar', class: "btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" %>
                <%= link_to 'Cancelar', comments_path, class: "btn btn-lg bg-gradient-light text-primary btn-lg w-100 mt-4 mb-0" %>
            </div>
        <% end %>
    </div>
</div>