<div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
    <div class="card card-plain">
        <div class="card-header">
            <h4 class="font-weight-bolder">Post</h4>
            <p class="mb-0">Editando post <%= @post.name %> </p>
        </div>
        <%= render partial: 'form' %>
    </div>
</div>