<div class="container">

<h1 class="text-center" >
    <%=h @post.name %>
</h1>

    <%=image_tag @post.image.variant(resize_to_fill: [492, 487])%>
<h2>
    <b></b>
    <%=h @post.content %>
</h2>


<%= link_to 'Voltar', posts_path %>
</div>